# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


\# STM32CubeIDE  
.metadata/  
.settings/  
\*.ld
# https://github.com/github/gitignore/blob/master/C.gitignore

# Prerequisites
*.d

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# cscope with Vim
cscope.*

#ctags with Vim
tags
types_c.taghl

#CtrlP
ctrlp.root


*.json
*.ninja
Software_Development/.pio/build/genericSTM32F407VGT6/firmware.bin
*.dblite
VGA_Driver/build/Debug/CMakeFiles/TargetDirectories.txt
VGA_Driver/build/Debug/CMakeFiles/CMakeConfigureLog.yaml
VGA_Driver/build/Debug/CMakeFiles/cmake.check_cache
VGA_Driver/build/Debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
VGA_Driver/build/Debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
VGA_Driver/build/Debug/CMakeFiles/3.28.1/CMakeSystem.cmake
VGA_Driver/build/Debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
VGA_Driver/build/Debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
VGA_Driver/build/Debug/CMakeFiles/3.28.1/CMakeASMCompiler.cmake
VGA_Driver/build/Debug/cmake_install.cmake
VGA_Driver/build/Debug/cmake/stm32cubemx/cmake_install.cmake
VGA_Driver/build/Debug/.ninja_log
VGA_Driver/build/Debug/.ninja_deps
Software_Development/.pio/build/project.checksum
